body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.row-thumbnail {
  padding: 0px 0px 0px 0px !important;
}

.container .col-sm-11 h4 {
  font-size: 18px;
}

.container .row:nth-child(odd) {
  background: #CCC;
}