extends layout

block content
  #main
    .jumbotron.text-center
      h2 Youtube Subscriptions Manager
      h3 The best way to manage your Youtube subscriptions
    .container-fluid
      .row.filters
        .col-sm-6
          if ytData.previousPage
            a(href="http://localhost:3000/api/subscriptions?size=" + ytData.size + "&page=" + ytData.previousPage) Previous 
          else
            span Previous 
          if ytData.nextPage
            a(href="http://localhost:3000/api/subscriptions?size=" + ytData.size +"&page=" + ytData.nextPage) Next
          else
            span Next
        .col-sm-6
          #ddbTags.dropdown.pull-right
            button.btn.btn-default.dropdown-toggle(type="button" id="ddbTag" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true") Search by tags
              span.caret
            ul.dropdown-menu(aria-labelledby="dropdownMenu1")
              li
                a(href="#") Toto
              li
                a(href="#") Titi
      .row
        .col-sm-12.items_list
          each item in ytData.items
            .row
              .row-thumbnail.col-sm-1
                a(href=item.url)
                  img(src=item.thumbnail)
              .col-sm-11
                h4= item.title
                a(href="#" data-toggle="tooltip" title="Add tag")
                  span(id=item.id).glyphicon.glyphicon-tag.pull-right
                p Tags:
      
  #tagModal.modal.fade(tabindex="1" role="dialog")
    .modal-dialog(role="document")
      .modal-content
        .modal-body
          form#formTags(method="POST" action="/submittags")
            .form-group
              input.form-control(type="text" placeholder="Enter tags, comma separated" aria-describedby="basic-addon1" name="input_tags")
              input(type="hidden" name="sub_id")
            button#btnSend.btn.btn-default(type="submit") Send     