body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; }

#main {
  margin: 0 auto;
  width: 70%; }

.row-thumbnail {
  padding: 0px 0px 0px 0px !important; }

.container-fluid .col-sm-8 > .row:nth-child(odd) {
  background: #EEE; }

.container-fluid .col-sm-8 > .row::nth-child(even) {
  background: #DDD; }

.container-fluid .col-sm-8 .col-sm-11 {
  padding-left: 30px; }
  .container-fluid .col-sm-8 .col-sm-11 > a > span {
    margin-top: 0.5em; }
  .container-fluid .col-sm-8 .col-sm-11 h4 {
    font-size: 18px;
    display: inline-block;
    margin-top: 0.5em;
    padding-right: 1em; }
  .container-fluid .col-sm-8 .col-sm-11 p {
    margin-top: 15px; }

.container-fluid .col-sm-4 #ddbTags {
  display: inline-block;
  margin-left: 1em; }
  .container-fluid .col-sm-4 #ddbTags span {
    margin-left: 1em; }
