extends layout

block content
  .jumbotron
    h1 Youtube Subscriptions Manager
    h3 The best way to manage your Youtube subscriptions
  .container
    each label in labels
      .row
        .col-sm-12
          p= label

